td {
  text-align: center; /* alinhamento horizontal */
  vertical-align: middle; /* alinhamento vertical */
}

#footerregiao {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

#regiaolabel {
  margin-bottom: 0.5rem;
  font-size: 18px;
}

#titleform {
  background-color: black;
  color: #ffffff;
  border-radius: 7px;
  padding: 4px;
}

#containerindex {
  color: aquamarine;
}
